@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

html {
    scroll-behavior: smooth;

}

html,
body {
    overflow-x: hidden;
}



/* custom scoll bar */

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(94, 107, 115);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(58, 61, 74);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: rgb(25, 26, 31);


}

nav {
    position: relative;
}

.arrow {
    position: fixed;
    bottom: 5%;
    color: #08fdd8;
    right: 3%;
    z-index: 3;


}





nav li a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    margin-left: 1rem !important;
    font-size: 2.8vmin;

}

nav li a:hover {
    color: #08fdd8;


}

nav li a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #08fdd8;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    animation: under 0.2s linear;

}

@keyframes under {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

nav li a:hover::after {
    display: inline-block
}

/* navbar ends */




.home {
    padding: 20vmin 0vmin;
    padding-left: 10vmin;
    background-color: rgb(33, 36, 44);
}

.name {
    color: white;
    font-family: 'Londrina Solid', cursive;
    position: relative;
    font-size: 6.8vmin;
}

.name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #08fdd8;
    margin-left: -20px;
}

.home p {
    margin: 0;
}

.job span {
    color: #08fdd8;
    font-family: 'Anton', sans-serif;
    font-size: 7vmin;

}

.design {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    font-size: 3vmin;
    text-transform: uppercase;
    opacity: 0.5;
    padding-bottom: 1rem;
}

.btn-cv {

    height: 35px;
    width: 100px;
    font-size: 0.7rem;
    border: 1px solid #08fdd8;
    background-color: rgb(33, 36, 44);
    color: #08fdd8;
    font-family: 'Anton', sans-serif;
    outline: 0;
}

.btn-cv:hover {
    border: 0;
    background-color: #08fdd8;
    color: white;

}

.fa-color {
    color: rgb(94, 107, 115);
}

.icons .icon {
    padding: 20px 5px;

}

.icons .icon:first-child {
    padding-left: 0
}

/* header second col ends */

.home-2 {
    padding: 20vmin 0;
    padding-top: 15vmin;

}

.name-2 span {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 5vmin;
}

.coding {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 2vmin !important;
    padding: 0 1vmin;
    color: rgba(255, 255, 255, 0.3) !important;
}

.job-2 {
    font-family: 'Andada', serif;
    color: #08fdd8;
    opacity: 0.5;
    font-size: 3vmin;

}

header img {
    width: 97%;
    height: 97%;
    border-radius: 50%;

}

.profile {
    width: 40vmin;
    height: 40vmin;
    margin: auto;
    border-radius: 50%;
    background-color: #08fdd8;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* header first-col-ends */


/* about-me starts*/

.about-me {


    background-color: rgb(35, 36, 38) !important;
    border-top: 1px solid #08fdd8;
    border-bottom: 1px solid #08fdd8;

}

.about-me .col-4 {
    padding: 40vmin 5vmin;

}

.about-me .coding {
    color: white;
}

.about-code-1 {
    float: right;
    margin-top: -6vmin;

}

.about-code-2 {
    float: right;
    padding-top: 4vmin;

}

.about-text {
    color: white;

    font-family: 'Londrina Solid', cursive;
    font-size: 12vmin;
    line-height: 10vmin;
    position: relative;
}

.about-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -12%;
    width: 8px;
    height: 100%;
    background-color: #08fdd8;
}

.myself {
    padding: 15vmin 10vmin;
    color: white;

}


.myself span {
    color: #08fdd8;
    font-family: 'Londrina Solid', cursive;
    font-size: 10vmin;
    padding-bottom: 5vmin;
}

.myself-text {
    font-size: 3vmin;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3vmin;
    padding-top: 0vmin;
    margin: 0;

}









/* Skills */
.skill {
    padding: 20vmin 10vmin;
    background-color: rgb(35, 36, 38);
    border-bottom: 1px solid #08fdd8;
    border-top: 1px solid #08fdd8;

}

.my-skill {
    font-family: 'Londrina Solid', cursive;
    color: white;
    position: relative;
    font-size: 8vmin;

}

.my-skill::before {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 47%;
    height: 1.5px;
    background-color: #08fdd8;
    width: 6%;
}

.my-skill::after {
    content: '';
    position: absolute;
    bottom: -10%;
    right: 45%;
    height: 1.5px;
    background-color: #08fdd8;
    width: 10%;
}

.lorem {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vmin;
}

.skill-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    opacity: 0.8;
}

.percentage {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #08fdd8;
    font-family: 'Anton', sans-serif;
}

.bar-1 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-1::before {
    content: '';
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #08fdd8;
    border-radius: 2px;
    animation: html 15s ease-out;


}



@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 80%;
    }
}




.bar-2 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-2::before {
    content: '';
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #08fdd8;
    border-radius: 2px;
    animation: css 15s ease-out;


}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 70%;
    }
}


.bar-3 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-3::before {
    content: '';
    width: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #08fdd8;
    border-radius: 2px;
    animation: js 15s ease-out;

}

@keyframes js {
    0% {
        width: 0%
    }

    100% {
        width: 65%;
    }
}


.bar-4 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-4::before {
    content: '';
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #08fdd8;
    border-radius: 2px;
    animation: jq 15s ease-out;

}

@keyframes jq {
    0% {
        width: 0%
    }

    100% {
        width: 80%;
    }
}

/* Skills div ends */

/* Services starts */
.services {
    padding: 30vmin 10vmin;
    background-color: rgb(35, 36, 38);
    color: #08fdd891;
    border-bottom: 1px solid #08fdd8;
    border-top: 1px solid #08fdd8;
}

.services-header {
    padding-bottom: 20vmin;
}

.services-text {
    font-family: 'Londrina Solid', cursive;
    color: white;
    position: relative;
    font-size: 8vmin;
    text-align: center;

}

.services-text::before {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 47%;
    height: 1.5px;
    background-color: #08fdd8;
    width: 6%;
}

.services-text::after {
    content: '';
    position: absolute;
    bottom: -10%;
    right: 45%;
    height: 1.5px;
    background-color: #08fdd8;
    width: 10%;
}

.card-service {
    width: 100%;
    background-color: rgba(28, 29, 31, 0.733);
}

.card-service:hover {
    border: 1px solid #08fdd8;
    animation: card 0.3s linear;
    margin-top: -30px;
}

@keyframes card {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -30px;
    }
}


.card-service .card-top {

    padding: 5vmin;
    border-bottom: 1px solid rgba(2255, 255, 255, 0.3)
}

.card-body {
    padding: 10vmin 1vmin;

}

.card-body-header {
    color: white;
    opacity: 0.8;
    font-size: 4vmin;
    font-family: 'Londrina Solid', cursive;
    padding-bottom: 5vmin;
}

.card-body-text {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2vmin;
    padding: 3vmin 10vmin;
    padding-bottom: 10vmin;
}









/* Services ends */

/* Footer starts */
.contact-me {
    background: rgb(29, 32, 40);
    background: linear-gradient(180deg, rgba(29, 32, 40, 1) 21%, rgba(21, 23, 29, 1) 87%);
}

.places h1 {
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-size: 8vmin;


}





/* .contact-text {
    position: relative;
} */

/* .yellow-line {
    margin: 0 auto;
    position: relative;
    width: 90px;
    height: 50px;
}

.yellow-line::after {
    content: '';
    position: absolute;
    top: -45%;
    right: -120%;
    background-color: yellow;
    width: 7vmin;
    height: 5px;

} */







/* .contact {
    padding: 10vmin 10vmin;
    color: white;


} */

/* .contact-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5vmin;
    color: rgba(255, 255, 255, 0.5);
} */

/* .contact-2 span {
    font-family: 'Anton', sans-serif;
    font-size: 8vmin;
} */


.live-in {
    font-family: 'Francois One', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 3vmin;
    font-size: 1.2rem;

}

.live-in span {
    font-size: 1.5rem;
    color: #08fdd8;
    opacity: 0.8;
}

footer a:hover {
    text-decoration: none;
    color: white;
}












@media only screen and (max-width: 992px) {
    .home {
        padding: 40vmin 0vmin;
        padding-left: 15vmin;

    }

    .mx-2 {
        margin: 0 -15px !important;
    }

    .home-2 {
        padding-top: 35vmin;
        padding-bottom: 10vmin;
    }

    .my-skill::after {
        right: 36%;
        width: 28%;
    }

    .skill {
        margin: 0 !important;
    }

    .my-skill::before {
        right: 40%;
        width: 20%;
    }

    /* .yellow-line::after {

        top: -45%;
        right: -85%;

        width: 5vmin;
        height: 5px;

    } */

    .services-text::before {
        right: 40%;
        width: 20%;
    }

    .services-text::after {
        right: 36%;
        width: 28%;
    }

    .about-text {
        font-size: 10vmin
    }

    .myself span {
        font-size: 5vmin;
    }

}

/*  mobile phone */
@media only screen and (max-width:425px) {

    .name-2 span {
        font-size: 5vmin;
    }


    .home {
        padding-top: 35vmin;
        padding-bottom: 50vmin;
        padding-left: 8vmin;
    }

    .about-text {
        font-size: 9vmin;
        line-height: 9vmin;

    }

    .about-code-2 {
        padding-top: 2vmin;

    }

    .myself span {
        font-size: 5vmin;

    }

    .myself {
        padding: 15vmin 5vmin
    }

    .about-me {
        padding-top: 40vmin;
        padding-bottom: 45vmin;
    }

    .about-me .col-4 {
        padding-top: 45vmin;
    }

    .card-body-header {
        font-size: 5vmin;
    }

    .card-body-text {
        font-size: 3vmin;
        padding-bottom: 30vmin;
    }

    .card-service:hover {
        animation: none;
        margin-top: 0;
    }




}

/* for 4k devices */
@media only screen and (min-width:1600px) {
    .yellow-line::after {
        display: none;
    }

    .home {
        padding: 25vmin 15vmin;
    }

    .about-text {
        font-size: 20vmin;
        padding-top: 2vmin;
    }

}

/* long height like ipad */
@media only screen and (min-width:1000px) and (min-height:1200px) {

    .name-2 span,
    .name span,
    .job span {
        font-size: 4vmin
    }

    .profile {
        height: 30vmin;
        width: 30vmin;
    }

    .about-text {
        font-size: 10vmin;
    }

    .myself span {
        font-size: 5vmin;
    }
}




/* rubber band effect */
.a {
    font-size: 5.8vmin;
    margin-left: -5px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;

}

.a:first-child {
    margin: 0;
}

.a:hover {
    color: rgb(252, 93, 212);
    /* animation: rubberBand 5s infinite; */
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.b {
    margin: 0
}