@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

html {
    scroll-behavior: smooth;
}

/* custom scoll bar */

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(94, 107, 115);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(58, 61, 74);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: rgb(25, 26, 31);


}

nav {
    position: relative;
}

nav i {
    position: fixed;
    bottom: 5%;
    color: yellow;
    right: 3%;
    z-index: 3;


}





nav li a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    margin-left: 1rem !important;
    font-size: 2.8vmin;

}

nav li a:hover {
    color: rgb(237, 218, 36);


}

nav li a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(237, 218, 36);
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    animation: under 0.2s linear;

}

@keyframes under {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

nav li a:hover::after {
    display: inline-block
}

/* navbar ends */




.home {
    padding: 25vmin 0vmin;
    padding-left: 10vmin;
    background-color: rgb(43, 47, 59);
}

.name {
    color: white;
    font-family: 'Londrina Solid', cursive;
    position: relative;
    font-size: 6.8vmin;
}

.name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: rgb(237, 218, 36);
    margin-left: -20px;
}

.job span {
    color: rgb(237, 218, 36);
    font-family: 'Anton', sans-serif;
    font-size: 7vmin;
}

.design {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    font-size: 3vmin;
    text-transform: uppercase;
    opacity: 0.5;
}

.btn-cv {
    background-color: rgb(237, 218, 36);
    height: 35px;
    width: 100px;
    font-size: 0.7rem;
    border: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    outline: 0;
}

.fa-color {
    color: rgb(94, 107, 115);
}

.icons .icon {
    padding: 20px 5px;

}

.icons .icon:first-child {
    padding-left: 0
}

/* header second col ends */

.home-2 {
    padding: 20vmin 0;
    padding-top: 15vmin;

}

.name-2 span {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 5vmin;
}

.coding {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 2vmin !important;
    opacity: 0.3;


}

.job-2 {
    font-family: 'Andada', serif;
    color: rgb(237, 218, 36);
    opacity: 0.5;
    font-size: 3vmin;

}

header img {
    width: 97%;
    height: 97%;
    border-radius: 50%;

}

.profile {
    width: 40vmin;
    height: 40vmin;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(237, 218, 36);
    display: flex;
    justify-content: center;
    align-items: center;


}

/* header first-col-ends */

/* Skills */
.skill {
    padding: 10vmin 10vmin;
    padding-bottom: 10vmin;
    background-color: rgb(35, 36, 38);
}

.my-skill {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    position: relative;

}

.my-skill::before {
    content: '';
    position: absolute;
    bottom: -40%;
    right: 47%;
    height: 1.5px;
    background-color: yellow;
    width: 6%;
}

.my-skill::after {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 45%;
    height: 1.5px;
    background-color: yellow;
    width: 10%;
}

.lorem {
    color: white;
    opacity: 0.3;
    font-family: 'Roboto Condensed', sans-serif;
}

.skill-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    opacity: 0.3;
}

.percentage {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(237, 218, 36, 0.9);
    font-family: 'Anton', sans-serif;
}

.bar-1 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-1::before {
    content: '';
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(237, 218, 36, 0.8);
    border-radius: 2px;
    animation: html 15s ease-out infinite;


}



@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 80%;
    }
}




.bar-2 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-2::before {
    content: '';
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(237, 218, 36, 0.8);
    border-radius: 2px;
    animation: css 15s ease-out infinite;


}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 70%;
    }
}


.bar-3 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-3::before {
    content: '';
    width: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(237, 218, 36, 0.8);
    border-radius: 2px;
    animation: js 15s ease-out infinite;

}

@keyframes js {
    0% {
        width: 0%
    }

    100% {
        width: 65%;
    }
}


.bar-4 {
    background-color: gray;
    width: 90%;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.bar-4::before {
    content: '';
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: rgba(237, 218, 36, 0.8);
    border-radius: 2px;
    animation: jq 15s ease-out infinite;

}

@keyframes jq {
    0% {
        width: 0%
    }

    100% {
        width: 80%;
    }
}

/* Skills div ends */

.places {
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-weight: bold;






}

.place-text {
    position: relative;
}

.yellow-line {
    margin: 0 auto;
    position: relative;
    width: 90px;
    height: 50px;
}

.yellow-line::after {
    content: '';
    position: absolute;
    top: -45%;
    right: -120%;
    background-color: yellow;
    width: 7vmin;
    height: 5px;

}

/* Places ends */


/* Footer starts */

.contact {
    padding: 10vmin 10vmin;
    color: white;
}

.contact-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5vmin;
    color: rgba(237, 218, 36, 1);
}

.contact-2 span {
    font-family: 'Anton', sans-serif;
    font-size: 6vmin;
    color: rgb(66, 245, 200);
}


.live-in {
    font-family: 'Francois One', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 3vmin;

}

.live-in span {
    font-size: 1.2rem;
    color: yellow
}













@media only screen and (max-width: 992px) {
    .home {
        padding: 40vmin 0vmin;
        padding-left: 15vmin;

    }

    .mx-2 {
        margin: 0 -15px !important;
    }

    .home-2 {
        padding-top: 35vmin;
        padding-bottom: 10vmin;
    }

    .my-skill::after {
        right: 36%;
        width: 28%;
    }

    .skill {
        margin: 0 !important;
    }

    .my-skill::before {
        right: 40%;
        width: 20%;
    }

    .yellow-line::after {

        top: -45%;
        right: -85%;

        width: 5vmin;
        height: 5px;

    }




}

/*  mobile phone */
@media only screen and (max-width:425px) {
    .yellow-line::after {

        top: -45%;
        right: -85%;

        width: 7.5vmin;
        height: 5px;

    }

    .name-2 span {
        font-size: 5vmin;
    }


    .home {
        padding-bottom: 45vmin;
    }





}

/* for 4k devices */
@media only screen and (min-width:1600px) {
    .yellow-line::after {
        display: none;
    }

    .home {
        padding: 25vmin 15vmin;
    }


}

/* long height like ipad */
@media only screen and (min-width:1000px) and (min-height:1200px) {

    .name-2 span,
    .name span,
    .job span {
        font-size: 4vmin
    }

    .profile {
        height: 30vmin;
        width: 30vmin;
    }
}




/* rubber band effect */
.a {
    font-size: 5.8vmin;
    margin-left: -5px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;

}

.a:first-child {
    margin: 0;
}

.a:hover {
    color: rgb(66, 245, 200);
    /* animation: rubberBand 5s infinite; */
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.b {
    margin: 0
}